body {
    margin: 0;
    padding: 0;
}

.buttonsContainer {
    width: fit-content;
    margin: auto;
}

.canvasContainer {
    margin: auto;
    width: 90vw;
    height: 90vh;
}

canvas {
    position: fixed;
}
