body {
    margin: 0;
    padding: 0;
}

div#header {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}

div#header div#instructionsContainer {
    width: 50%;
    min-width: 13em;
    margin: auto;
    text-align: center;
}

.buttonsContainer {
    width: 50%;
    min-width: 13em;
    margin: auto;
    text-align: center;
    padding: 5px 0px;
}

#canvasContainer {
    margin: auto;
    height: 90vh;
}

canvas {
    position: absolute;
}
